<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ztejjx.memberstore.mapper.mysql.SelfTeachercommentItemMapper">


    <insert id="savebatchTeachercommentItemService"  parameterType="cn.ztejjx.memberstore.domain.mysql.TeachercommentItem">
 insert into teacherComment_Item(teacherComment_ItemId,teacherComment_Id,content,score,enabled_flag,created_date) values
        <foreach  collection="teachercommentItem" item="item"     separator=",">
            (
                #{item.teachercommentItemid},
                #{item.teachercommentId},
                #{item.content},
                #{item.score},
                #{item.enabledFlag},
                #{item.createdDate}
            )
        </foreach>


    </insert>





</mapper>