<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.ztejjx.memberstore.mapper.mysql.selfcustomerOrderDetailMapper">

    <update id="VerificationCustomerOrderDetail">
        update customer_order_detail  set order_confirm_employeeId = #{loginkey},order_confirm_employeeName = #{createby},order_confirm_employeePhone=#{phone},verification_status='已使用'  where order_detail_Id = #{orderDetailId}
    </update>

</mapper>








